.header {
  margin: 45px auto 36.25px;
  width: 880px;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}
@media screen and (max-width: 896px) {
  .header {
    margin: 45px auto 36.25px;
    max-width: 68.75%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin: 28px 0 27px;
    max-width: 100%;
  }
}
