.profile__button_add {
  width: 150px;
  min-height: 50px;
  background: url(../../../../image/Add_Button.svg) 50% no-repeat;
  cursor: pointer;
  position: relative;
  margin: 0 0 0 230px;
  padding: 0;

  border-radius: 2px;
}

.profile__button_add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__button_add {
    width: 100%;
    background-size: cover;
    margin: auto;
  }
}
